.baseError{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.baseErrorContent{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.baseErrorCode{
    font-size: 4em;
    font-weight: bold;
}
.baseErrorText{

}
